In [42]:
#import dataframe
import seaborn as sns
df=sns.load_dataset('titanic')

In [43]:
#clean data
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [44]:
df.dropna(subset=["embark_town"],inplace=True)
df['age'] = df['age'].fillna(df['age'].mean())
df.drop(['deck', 'embark_town', 'alive', 'class', 'alone', 'adult_male', 'who'],inplace=True, axis = 1)
df.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [45]:
df.dtypes

survived      int64
pclass        int64
sex          object
age         float64
sibsp         int64
parch         int64
fare        float64
embarked     object
dtype: object

In [46]:
#encoding
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
df.iloc[:,2]= labelencoder.fit_transform(df.iloc[:,2].values)

#Encode embarked
df.iloc[:,7]= labelencoder.fit_transform(df.iloc[:,7].values)
df.head()

   survived  pclass  sex   age  sibsp  parch     fare  embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [47]:
df.corr()

,survived,pclass,sex,age,sibsp,parch,fare,embarked
survived,1.000000,-0.335549,-0.541585,-0.074513,-0.034040,0.083151,0.255290,-0.169718
pclass,-0.335549,1.000000,0.127741,-0.328256,0.081656,0.016824,-0.548193,0.164681
sex,-0.541585,0.127741,1.000000,0.089339,-0.116348,-0.247508,-0.179958,0.110320
age,-0.074513,-0.328256,0.089339,1.000000,-0.231908,-0.178013,0.088780,-0.028659
sibsp,-0.034040,0.081656,-0.116348,-0.231908,1.000000,0.414542,0.160887,0.068900
parch,0.083151,0.016824,-0.247508,-0.178013,0.414542,1.000000,0.217532,0.040449
fare,0.255290,-0.548193,-0.179958,0.088780,0.160887,0.217532,1.000000,-0.226311
embarked,-0.169718,0.164681,0.110320,-0.028659,0.068900,0.040449,-0.226311,1.000000

In [48]:
#split data
from sklearn.model_selection import train_test_split
X = df.iloc[:, 1:8].values 
Y = df.iloc[:, 0].values 
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=32)

In [49]:
#scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [50]:
#Logistic Regression
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train,y_train)
#KNN
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_train,y_train)
#SVC linear
from sklearn.svm import SVC
svc_linear = SVC(kernel='linear')
svc_linear.fit(X_train,y_train)
#SVC RBF
from sklearn.svm import SVC
svc_rbf = SVC(kernel='rbf')
svc_rbf.fit(X_train,y_train)
#GaussianNB
from sklearn.naive_bayes import GaussianNB
gaussian_nb = GaussianNB()
gaussian_nb.fit(X_train,y_train)
#Decistion Tree
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier()
tree.fit(X_train,y_train)
#RandomForest
from sklearn.ensemble import RandomForestClassifier
randomForest = RandomForestClassifier()
randomForest.fit(X_train,y_train)

RandomForestClassifier()

In [51]:
#accurry of predict
from sklearn.metrics import accuracy_score
print("Logistic Regression  ",accuracy_score(y_test, lr.predict(X_test)))
print("KNN                  ",accuracy_score(y_test, knn.predict(X_test)))
print("SVC linear           ",accuracy_score(y_test, svc_linear.predict(X_test)))
print("SVC RBF              ",accuracy_score(y_test, svc_rbf.predict(X_test)))
print("GaussianNB           ",accuracy_score(y_test, gaussian_nb.predict(X_test)))
print("Decistion Tree       ",accuracy_score(y_test, tree.predict(X_test)))
print("RandomForest         ",accuracy_score(y_test, randomForest.predict(X_test)))

Logistic Regression   0.7865168539325843
KNN                   0.8089887640449438
SVC linear            0.8089887640449438
SVC RBF               0.8258426966292135
GaussianNB            0.7808988764044944
Decistion Tree        0.7696629213483146
RandomForest          0.7808988764044944

In [52]:
#tune model
from sklearn.model_selection import GridSearchCV
import numpy as np
parameters = {'C': np.arange(1,10,0.5)}
best = GridSearchCV(svc_rbf, parameters, cv=5)
best.fit(X_train,y_train)
best.best_estimator_

SVC()

In [53]:
#accuracy_score
print('accuracy_score : {:.2f} %'.format(accuracy_score(y_test, best.predict(X_test))*100 ))

accuracy_score : 82.58 %

#### Complete with 82.58 % | SVC RBF